/* 1. ---General Styles--- */
@font-face {
    font-family: "Kotton";
    src: url(../fonts/Kotton.woff) format('woff');
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
}


/* Defaults */
nav ul {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
}


/* Utility Classes */
.overlap {
    grid-row: 1/-1;
}

.order-1 {
    order: -1;
}

.top-layer {
    z-index: 10;
}

.decorated-bg {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

/* 2. ---Design System--- */

/* 2.1. Buttons */

.btn {
    display: grid;
    place-items: center;
    text-transform: uppercase;
    padding: 0 0.625rem;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #692891;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 2.75rem;
    font-weight: 400;
    transition: all ease-in-out 0.5s;
}

.btn:hover {
    background-color: #a340ff;
}

.btn-s {height: 1.5rem};
.btn-m {height: 2rem;}
.btn-m1 {height: 2.375rem;}
.btn-l {height: 3rem;}
.btn-xl {height: 3.75rem;}

/* 2.2. Icons */
.ico {
    aspect-ratio: 1/1;
    width: 2rem;
}

.social-icon {
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.social-icon a {
    display: block;
    text-decoration: none;
    color: white;
}

.social-icon:hover a {
    color: #a340ff;
}


/* 2.3. Fonts */
.h-text {
    font-family: "Kotton", Helvetica, sans-serif;
    font-size: 1.75rem;
    text-align: center;
    color:#692891;
}

.p-text {
    text-align: center;
}

.h-text + .p-text {
    margin-top: 1.25rem;
}

.cap-text {
    font-family: "Kotton", Helvetica, sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: -2%;
}

a {
    color: #47006D;
    transition: all 0.5s ease-in-out;
}

a:not(.btn):hover {
    color: #a340ff;
}

.emph{
    font-family: "Kotton", Helvetica, sans-serif;
}

.price-tag {
    color: green;
    font-size: 2rem;
    font-family: "Kotton", Arial, sans-serif;
}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.text-s {font-size: 0.75rem;}
.text-m {font-size: 1.25rem;}
.text-l {font-size: 1.5rem;}
.text-xl {font-size: 2.25rem;}
.text-2xl {font-size: 2.5rem;}
.text-3xl {font-size: 3rem;}
.text-4xl {font-size: 4rem;}
.text-5xl {font-size: 4.5rem;}


/* 2.4. Forms & Fields */
    .form-field-go {
        display: grid;
        grid-template-columns: auto min(20%, 5rem);
    }

    .form-field-go input:first-child {
        grid-row: 1/1;
        grid-column: 1/3;
    }
    .form-field-go input:last-child {
        grid-row: 1/1;
        grid-column: 2/3;
    }


    input[type="email"] {
        appearance: none;
        caret-color: #47006D;
        border: #692891 2px solid;
        height: 3rem;
        padding: 0 1rem;
        border-radius: 50px;
        font-size: 1rem;
    }

    input[type="email"]:hover {
        border: #D2A3FF 2px solid;
    }


    input[type="submit"] {
        border: none;
        appearance: none;
        cursor: pointer;
        border-radius: 0 50px 50px 0;
        background-color: #692891;
        color: white;
        display: grid;
        place-items: center;
        font-size: 1.125rem;
    }
    input[type="submit"]:hover {
        background-color: #a340ff;
    }




/* 3. ---Main Nav--- */
#main-header {
    background-color: #FFF793;
    padding-bottom: 10px;
}

#main-header > div {
    align-items: center;
    padding-top: 10px;
}

#main-logo {
    display: flex;
    justify-content: center;
}
    #main-logo img {
        height: 60px;
    }


#burger {
    background-image: url(../images/burger_menu.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    cursor: pointer;
}
    #burger.clicked {
        transform: rotate(90deg);
    }

#main-nav {
    order: 4;
}

#burger-con {
    display: none;
    justify-content: space-evenly;
}
    #burger-con li {
        border-radius: 50px;
    }
    #burger-con li:hover {
        background-color: #E6DC49;
    }
    #burger-con li a {
        display: block;
        padding: 10px 20px;
        color: #692891;
        font-weight: 600;
    }

#shop-now-btn {
    display: none;
}

#func-btn {
    justify-self: end;
}

.collapsible {
    display: flex !important; 
    margin-top: 10px;
}



/* 4. ---Hero Section--- */
#hero {
    overflow-y: hidden;
    background-color: gray;
    background-blend-mode: difference;
}

#hero-bg {
    padding-top: 2.5rem;
    background-color: rgba(18, 18, 18, 0.542);
    background-image: url(../images/graffiti-wall-frame.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero p.emph {
    font-size: 1.25rem;
    color: #FFF793;
    filter:  drop-shadow(0px 3px 3px black);
    margin: 1rem 3rem 1.5rem;
}

#hero-shop-now-btn {
    margin-bottom: 1.75rem;
}

#hero-fg {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.462));
    margin-bottom: 2.5rem;
}

#hero-fg img {
    display: block;
    margin: 0 auto;
}


/* 5. ---Products Section--- */
#product {
    margin-top: 2.5rem;
}

#product-slider-con {
    overflow-x: scroll;
    margin: 2rem 0;
}
#product-slider {
    display: flex;
    width: 1000px;
    list-style: none;
    justify-content: space-around;
}

#product-slider li {
    width: 130px;
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    align-content: start;
}

.product-img {
    margin: 0 auto;
    width: 90px;
    aspect-ratio: 90/246;
    margin-bottom: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.462));
}

#view-all-btn {
    margin: 0 2.5rem;
}

/* 6. ---Kids Drink Section--- */

/* 7. ---Real Fruits Section--- */
#feature-2 {
    margin-top: 8rem;
}

#fruit-drawing {
    margin-top: 4rem;
}

/* 8. ---Newsletter Section--- */
#newsletter-row-wrapper {
    margin-top: 6rem;
    background-color: lightgray;
}

#newsletter h2 {
    margin-top: 3rem;
}

#newsletter p {
    font-weight: 700;
    font-size: 2rem;
}

#newsletter form {
    margin: 3rem 2.5rem;
}

    #newsletter-img {
        height: 500px;
        background-image: url(../images/poster2.webp);
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        margin-bottom: 3rem;
    }


/* 9. ---Footer--- */
#main-footer {
    padding: 2rem 0 2.5rem;
    min-height: 300px;
    background-color: #FFF793;
}

#footer-nav {
    padding: 0;
    line-height: 2rem;
}

#social-links {
    display: flex;
    justify-content: space-evenly;
}

.social-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: black;
}

#footer-logo {
    margin-top: 2.5rem;
    text-align: center;
}
#footer-logo img {
    max-width: 200px;
}
#contact-us {
    line-height: 2rem;
    margin-bottom: 20px;
}


/* 10. ---Responsiveness--- */
@media screen and (min-width: 768px) {
    /* 1. ---General Styles--- */
   .m-text-left {text-align: left;}
   .m-text-right {text-align: right;}
   .m-text-center {text-align: center;}

   .m-overlap {
    grid-row: 1/1;
   }

    .btn {
        font-size: 1.125rem;
    }


    /* 3. ---Main Nav--- */

    #burger {
        display: none;
    }

    #main-nav {
        order: -1;
    }

    #burger-con {
        display: flex;
    }


    /* 4. ---Hero Section--- */

    #hero {
        max-height: 580px;
    }

    #shop-now-btn {
        display: block;
    }

    #hero p.emph {
        font-size: 1.5rem;
    }

    #hero-shop-now-btn {
        display: none;
    }

    #hero-fg {
        padding-top: 10%;
    }


    /* 5. ---Product Showcase--- */

    #product-slider {
        width: 100%;
        min-width: 1000px;
    }

    #view-all-btn {
        margin: 0;
    }

    .product-img {
        width: 117px;
    }

    .product-img:hover > img {
        animation: wiggle 0.3s 0.2s alternate;
    }

    @keyframes wiggle {
        20% {transform: rotate(7deg);}
        40% {transform: rotate(0deg);}
        60% {transform: rotate(-7deg);}
        80% {transform: rotate(0deg);}
        100% {transform: rotate(0deg);}    
    }


    /* 8. ---Newsletter--- */
    #newsletter-row-wrapper {
        margin-top: 8rem;
        background-color: transparent;
        grid-template-rows: auto auto;
    }

    #newsletter-con {
        display: grid;
        grid-template-columns: subgrid;
        grid-row: 2/3;
        background-color: lightgray;
    }

        #newsletter {
            display: flex;
            margin-left: 2.5rem;
            flex-direction: column;
            justify-content: space-evenly;
        }


    #newsletter form {
        margin: 3rem 2.5rem 3.5rem 0;
    }

    #newsletter-img-con {
        grid-row: 1/3;
    }

    #newsletter-img {
        width: 90%;
        height: unset;
        max-height: 400px;
        aspect-ratio: 8/11;
        background-size: cover;
    }


    /* 9. ---Footer--- */
    #main-footer {
        padding: 1rem 0 1.25rem;
        margin-top: 8rem;        
    }

    #footer-logo {
        margin: 0;
    }

    div:has(#footer-logo) {
        order: -1;
    }

    #main-footer > .grid-con {
        grid-row: 1/1;
        align-content: center;
    }
}

/* 11. ---Desktop Styles--- */


@media screen and (min-width: 1200px) {
   .l-text-left {text-align: left;}
   .l-text-right {text-align: right;}
   .l-text-center {text-align: center;}
}


/* --------- SHOPPING PAGE ----------- */
/* 1. ---Shop Main Hero--- */
#shop-hero {
    background-color: #f5eee6;
    overflow: hidden;
    max-height: 600px;
    /* box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.433); */
}

#shop-hero-text {
    z-index: 5;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

#shop-hero-bottle {
    transform: translateY(3rem) rotate(7deg);
}

#shop-hero-fg {
    z-index: 3;
}

#strings {
    background-image: url(../images/party-string.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    width: 380px;
    height: 234px;
}

/* 2. ---Shop Catalog--- */

#shop-list {
    background-color: #FFF793;
    z-index: 1;
    padding: 1.5rem 0;
}

#shop-list li {
    background-color: white;
    align-content: space-evenly;
    padding: 0.75rem;
    margin: 0.75rem 0;
    grid-template-rows: auto auto 3rem;
    row-gap: 1rem;
}

#shop-list li .btn {
    text-transform: initial;
    max-height: 4rem;
    line-height: 1.5rem;
}

#shop-list li .price-tag {
    text-align: right;
}

.promo-pic {
    display: grid;
    place-items: center;
    grid-row: 1/4;
}
.berry-bottle .promo-pic {
    background-color: aqua;
}
.berry-bottle .btn {
    background-color: #2E1DA4;
}
.orange-bottle .btn {
    background-color: #E25016;
}
.berry-bottle .btn:hover {
    background-color: rgb(100, 149, 237);
}
.orange-bottle .btn:hover {
    background-color: rgb(255, 127, 80);
}
.orange-bottle .promo-pic {
    background-color: #FFF793;
}
.berry-bottle .h-text {
    color: #2E1DA4;
}
.orange-bottle .h-text {
    color: #E25016;
}


/* 3. ---Reponsive Catalog--- */
@media screen and (min-width: 768px) {
    #shop-hero {
        max-height: 480px;
    }
    #shop-hero-text {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }       
    #shop-hero-bottle {
        transform: translateY(4rem) translateX(1rem) rotate(10deg);
    }

    #shop-list li {
        padding: 2rem;
    }

    #shop-list li .btn {
        max-height: 3rem;
        line-height: unset;
    }
    
    #shop-list li .price-tag {
        text-align: left;
        order: 2;
    }

    #shop-list li .btn {
        order: 4;
    }
}

@media screen and (min-width: 1200px) {
    #shop-hero {
        max-height: 528px;
    }

    #shop-hero-bottle {
        transform: translateY(4rem) translateX(3rem) rotate(10deg);
    }
}
